<header>
  <h1>Wikinimous</h1>
  <%=link_to "New article", new_article_path%>
</header>

<h2><%= @article.title%>
<%=link_to edit_article_path(@article.id) do%>
  <i class="fa fa-pencil"></i>
<%end%>
<%=link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
  <i class="fa-solid fa-trash"></i>
<%end%>
</h2>
<p><%= @article.content%></p>
